ul#Menu {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    margin: 60px;
    padding: 10px;
    list-style: none;
}

h1 {
    color: green;
    text-align: center;
}

iframe {
    display: block;
    margin: 115px;
}



div {
    color: green;
    font-family: 'Book Antiqua';
    border: dotted; 
    background-color: white;
}


ul#Menu li {
    background-color: #40916c;
    border-bottom: 5px solid #54BAE2;
    display: block;
    width: 150px;
    height: 30px;
    margin: 60px;
    float: left; /* elementi su singola riga */
    text-align: center;
}

    ul#Menu li a {
        color: #fff;
        display: block;
        font-weight: bold;
        line-height: 30px;
        text-decoration: none;
        width: 150px;
        height: 30px;
        text-align: center;
    }



    ul#Menu li.active, ul#Menu li:hover {
        background-color: #2d6a4f;
        border-bottom: 5px solid #74c69d;
    }
